extends layout

block content
  h1= title
  p Welcome to #{title}

  input(type="hidden", value=user.score, name="score")
  input(type="hidden", value=company.name, name="company")
  input(type="hidden", value=company.score, name="company_score")
  input(type="hidden", value=company.user_count, name="company_user_count")
  
  div(class="item")
    div(id="g1")
    hr
    div(id="g2")
